server:
  port: 7104
  address: 127.0.0.1

spring:
  application:
    name: cloud-work
  data:
    mongodb:
      uri: mongodb://test:123456@10.117.130.110:27017/cloud-note

feign:
  hystrix:
    enabled: true

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 50000

ribbon:
  ReadTimeout: 50000
  ConnectTimeout: 30000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


